h6.mb-0 {
    color: white;
    font-weight: 450;
    font-size: 23px;
    text-decoration: none;
}

.fa {
  padding: 0px;
  font-size: 25px;
  width: 50px;
  text-align: left;
  text-decoration: none;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

